.borderTest {
    border: 2px solid black !important;
}

.borderLight {
    border: 1px solid #e6c0c0 !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.allChildrenCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inheritHeight {
    height: inherit;
}

section {
    margin-top: 40px;
}
.cursorMe {
    cursor: pointer;
}