@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html,body { 
    margin:0; 
    padding:0; 
    overflow-x:hidden; 
}
.app-font {
    font-family: 'Righteous';
}
.font-x2b {
    @extend .app-font;
    font-size: 3em;
}
.font-x3b {
    @extend .app-font;
    font-size: 2em;
}
.font-x3 {
    font-size: 2em;
}
.font-x4b {
    @extend .app-font;
    font-size: 1.5em;
}
.font-x4 {
    font-size: 1.5em;
}
.font-x5 {
    font-size: 1.2em;
}
.font-sm {
    font-size: 14px;
}
.font-tiny {
    font-size: 10px;
}
.borderTest {
    border: 2px solid black !important;
}
.radius20 {
    border-radius: 20px;
}

.borderLight {
    border: 1px solid #e6c0c0 !important;
}

.shadowLight {
    box-shadow: 0 0 3px 0px #e6c0c0 !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.allChildrenCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.width100 {
    width: 100%;
}
.inheritHeight {
    height: inherit;
}
.height100 {
    height: 100%;
}
.flipX {
    transform: scaleX(-1);
}

section {
    padding-top: 40px;
}
.cursorMe {
    cursor: pointer;
}
.svg-inline--fa {
    font-size: 20px;
}
.app-max-width {
    max-width: 1455px;
}

.app-bold {
    font-weight: 900;
}
.centerItem {
    margin: 0 auto;
}
a {
    text-decoration: none;
}

ol {
  counter-reset: my-awesome-counter;
}
ol .st-Li {
  counter-increment: my-awesome-counter;
  list-style: none;
  position: relative;
  margin-top: 40px;
}
ol .st-Li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  left: -27px;
  top: 3px;
  border: 2px solid var(--v-primary-base);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  line-height: 1rem;
  color: var(--v-primary-base);
  text-align: center;
  font-size: 12px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
hr {
  background-color: lightgray;
  height: 1px;
  border: 0;
}

.gradient {
    position: relative;
    height: 70vh;

    &::before {
        content: "";
        height: 100%;
        background-size: 18% 126%, 83% 100%;
        background-position: 100% 0%, 0% 0%;
        position: relative;
        width: 60%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &.right {
        background: linear-gradient(to top left, transparent 50%, var(--v-primary-base) 50%) no-repeat, linear-gradient(to top left, transparent 0.1%, var(--v-primary-base) 0.1%) no-repeat;
        background-size: 18% 126%, 83% 100%;
        background-position: 100% 0%, 0% 0%;
    }
    &.lightBG-v {
        background: linear-gradient(to top left, transparent 50%, var(--v-lightBG-base) 50%) no-repeat, linear-gradient(to top left, transparent 0.1%, var(--v-lightBG-base) 0.1%) no-repeat;
        background-size: 15% 100%, 85% 100%;
        background-position: 100% 0%, 0% 0%;
    }
    a {
        color: #ffffff !important;
        font-weight: 900;
    }
}

@media (max-width: 960px) {
   .hero {
        .gradient {
            background-color: var(--v-primary-base) !important;
        }

        .car-holder {
            display: none;
        }
   }

    .__section_intro {
        text-align: center;
    }

    .__section_title {
        font-size: 1.5em;
    }
    .__section_subtitle {
        font-size: 14px;
    }
}