@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.app-font {
    font-family: 'Righteous';
}
.font-x2b {
    @extend .app-font;
    font-size: 3em;
}
.font-x4b {
    @extend .app-font;
    font-size: 1.5em;
}
.font-x5 {
    font-size: 1.2em;
}
.font-sm {
    font-size: 14px;
}
.font-tiny {
    font-size: 10px;
}
.borderTest {
    border: 2px solid black !important;
}

.borderLight {
    border: 1px solid #e6c0c0 !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.allChildrenCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inheritHeight {
    height: inherit;
}

section {
    padding-top: 40px;
}
.cursorMe {
    cursor: pointer;
}
.svg-inline--fa {
    font-size: 20px;
}
.app-max-width {
    max-width: 1455px;
}

.centerItem {
    margin: 0 auto;
}
a {
    text-decoration: none;
}

ol {
  counter-reset: my-awesome-counter;
}
ol .st-Li {
  counter-increment: my-awesome-counter;
  list-style: none;
  position: relative;
  margin-top: 40px;
}
ol .st-Li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  left: -27px;
  top: 3px;
  border: 2px solid var(--v-primary-base);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  line-height: 1rem;
  color: var(--v-primary-base);
  text-align: center;
  font-size: 12px;
}